<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>chained: <%= chained %></p>
    <p>arg:<%= arg %></p>
    <p>method:<%= method %></p>
    <p><a href="./<%= arg %>/edit">edit</a></p>
    <p><a href="./<%= arg %>/delete">delete</a></p>
  </body>
</html>
